/*++

Copyright (c) Microsoft. All rights reserved.

Module Name:

    WslServiceProxyStub.rc

Abstract:

    This file contains resources for lswserviceproxystub.dll.

--*/

#include <windows.h>
#include "lswversioninfo.h"

#define VER_INTERNALNAME_STR "lswserviceproxystub.dll"
#define VER_ORIGINALFILENAME_STR "lswserviceproxystub.dll"

#define VER_FILEDESCRIPTION_STR "LSW Service ProxyStub DLL"

#include <common.ver>
